<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userRegister</title>




    <!-- BRING IN STYLES AND SCRIPTS FOR PAGE ==================== -->
    <!-- ========================================================= -->

        <!-- BRING IN STYLES ===================================== -->
        <!-- ===================================================== -->

            <link rel="stylesheet" type="text/css" href="public/styles/numpleeUserRegisterScreen.css" >

        <!-- BRING IN SCRIPTS ==================================== -->
        <!-- ===================================================== -->

            <script src="public/scripts/numpleeUserRegisterScreen.js" defer></script>



</head>


<body class="userRegisterBodyControl">

    <!-- MAIN CONTENT CONTAINER ================================== -->
    <!-- ========================================================= -->

        <div class="userRegisterMainContainerControl">


            

            <!-- INPUT FIELDS CONTAINER ================================== -->
            <!-- ========================================================= -->

                <div class="userRegisterSubmissionBoxContainer">

                    <div class="userRegisterSubmissionBoxContentResizer">

                        <!-- INTAKE FORM ================================= -->
                        <!-- ============================================= -->

                            <div class = "userRegisterSubmissionBoxContentFormContainer">

                                <!-- NUMBER PLATE INPUT FIELD CONTAINER == -->
                                <!-- ===================================== -->

                                    <div class="userRegisterNumberPlateInputFieldContainer">

                                        <div class="userRegisterNumberPlateInputFieldElement">

                                            <input
                                            
                                                name = "numberPlateIntake"
                                                type = "text"
                                                class = "inputScreenNumberPlateInputBoxActual"
                                                maxlength = "6"
                                                placeholder = "plate no. eg: 1JX23U"

                                            >

                                        </div>

                                    </div>

                                <!-- PROVINCE SELECT INPUT FIELD CONTAINER -->
                                <!-- ===================================== -->

                                    <div class="userRegisterNumberPlateProvinceCodeInputFieldContainer">

                                        <div class="userRegisterNumberPlateProvinceCodeInputFieldElement">



                                            <!-- PROVINCE CODE BLOCK ONE = -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockOne">

                                                    <div class="provinceCodeSelectorBlockOneButtonElement">

                                                        <div class="provinceCodeSelectorBlockOneButtonElementText">L</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK TWO = -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockTwo">

                                                    <div class="provinceCodeSelectorBlockTwoButtonElement">

                                                        <div class="provinceCodeSelectorBlockTwoButtonElementText">FS</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK THREE -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockThree">

                                                    <div class="provinceCodeSelectorBlockThreeButtonElement">

                                                        <div class="provinceCodeSelectorBlockThreeButtonElementText">MP</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK FOUR  -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockFour">

                                                    <div class="provinceCodeSelectorBlockFourButtonElement">

                                                        <div class="provinceCodeSelectorBlockFourButtonElementText">NW</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK FIVE  -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockFive">

                                                    <div class="provinceCodeSelectorBlockFiveButtonElement">

                                                        <div class="provinceCodeSelectorBlockFiveButtonElementText">GP</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK SIX = -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockSix">

                                                    <div class="provinceCodeSelectorBlockSixButtonElement">

                                                        <div class="provinceCodeSelectorBlockSixButtonElementText">KZN</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK SEVEN -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockSeven">

                                                    <div class="provinceCodeSelectorBlockSevenButtonElement">

                                                        <div class="provinceCodeSelectorBlockSevenButtonElementText">WC</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK EIGHT -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockEight">

                                                    <div class="provinceCodeSelectorBlockEightButtonElement">

                                                        <div class="provinceCodeSelectorBlockEightButtonElementText">EC</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK NINE  -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockNine">

                                                    <div class="provinceCodeSelectorBlockNineButtonElement">

                                                        <div class="provinceCodeSelectorBlockNineButtonElementText">NC</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK TEN = -->
                                            <!-- ========================= -->

                                                <div class="provinceCodeSelectorBlockTen">

                                                    <div class="provinceCodeSelectorBlockTenButtonElement">

                                                        <div class="provinceCodeSelectorBlockTenButtonElementText">CA</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK ELEVEN -->
                                            <!-- ========================== -->

                                                <div class="provinceCodeSelectorBlockEleven">

                                                    <div class="provinceCodeSelectorBlockElevenButtonElement">

                                                        <div class="provinceCodeSelectorBlockElevenButtonElementText">CAA</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK TWELVE -->
                                            <!-- ========================== -->

                                                <div class="provinceCodeSelectorBlockTwelve">

                                                    <div class="provinceCodeSelectorBlockTwelveButtonElement">

                                                        <div class="provinceCodeSelectorBlockTwelveButtonElementText">CBS</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK THIRTEEN -->
                                            <!-- ============================ -->

                                                <div class="provinceCodeSelectorBlockThirteen">

                                                    <div class="provinceCodeSelectorBlockThirteenButtonElement">

                                                        <div class="provinceCodeSelectorBlockThirteenButtonElementText">CY</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK FOURTEEN -->
                                            <!-- ============================ -->

                                                <div class="provinceCodeSelectorBlockFourteen">

                                                    <div class="provinceCodeSelectorBlockFourteenButtonElement">

                                                        <div class="provinceCodeSelectorBlockFourteenButtonElementText">CX</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK FIFTEEN -->
                                            <!-- =========================== -->

                                                <div class="provinceCodeSelectorBlockFifteen">

                                                    <div class="provinceCodeSelectorBlockFifteenButtonElement">

                                                        <div class="provinceCodeSelectorBlockFifteenButtonElementText">CK</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK SIXTEEN -->
                                            <!-- =========================== -->

                                                <div class="provinceCodeSelectorBlockSixteen">

                                                    <div class="provinceCodeSelectorBlockSixteenButtonElement">

                                                        <div class="provinceCodeSelectorBlockSixteenButtonElementText">CJ</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK SEVENTEEN -->
                                            <!-- =========================== -->

                                                <div class="provinceCodeSelectorBlockSeventeen">

                                                    <div class="provinceCodeSelectorBlockSeventeenButtonElement">

                                                        <div class="provinceCodeSelectorBlockSeventeenButtonElementText">CEM</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK EIGHTEEN -->
                                            <!-- ============================ -->

                                                <div class="provinceCodeSelectorBlockEighteen">

                                                    <div class="provinceCodeSelectorBlockEighteenButtonElement">

                                                        <div class="provinceCodeSelectorBlockEighteenButtonElementText">NUR</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK NINETEEN -->
                                            <!-- ============================ -->

                                                <div class="provinceCodeSelectorBlockNineteen">

                                                    <div class="provinceCodeSelectorBlockNineteenButtonElement">

                                                        <div class="provinceCodeSelectorBlockNineteenButtonElementText">NPS</div>

                                                    </div>

                                                </div>

                                            

                                            <!-- PROVINCE CODE BLOCK TWENTY -->
                                            <!-- ========================== -->

                                                <div class="provinceCodeSelectorBlockTwenty">

                                                    <div class="provinceCodeSelectorBlockTwentyButtonElement">

                                                        <div class="provinceCodeSelectorBlockTwentyButtonElementText">ND</div>

                                                    </div>

                                                </div>

                                        </div>

                                    </div>

                                <!-- CAR TYPE INPUT FIELD CONTAINER ====== -->
                                <!-- ===================================== -->

                                    <div class="userRegisterCarTypeInputFieldContainer">

                                        <div class="userRegisterCarTypeInputFieldElement">

                                            <input
                                            
                                                name = "carTypeIntake"
                                                type = "text"
                                                class = "inputScreenCarTypeInputBoxActual"
                                                maxlength = "30"
                                                placeholder = "car type eg: kia sportage"

                                            >

                                        </div>

                                    </div>

                                <!-- FORM SUBMISSION BUTTON CONTAINER ==== -->
                                <!-- ===================================== -->

                                    <div class="userRegisterSubmissionButtonContainer">

                                        <div class="userRegisterSubmissionButtonActual">

                                            upload

                                        </div>

                                    </div>


                                </div>




                            


            

                        <!-- SUBZERO ================================================= -->
                        <!-- ========================================================= -->

                            <div class="subzeroControlContainer" style="display:none;">

                            </div>


                    </div>

                </div>

        </div>
    
</body>


</html>