<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userRegister</title>




    <!-- BRING IN STYLES AND SCRIPTS FOR PAGE ==================== -->
    <!-- ========================================================= -->

        <!-- BRING IN STYLES ===================================== -->
        <!-- ===================================================== -->

            <link rel="stylesheet" type="text/css" href="public/styles/numpleeUserRegisterScreen.css" >

        <!-- BRING IN SCRIPTS ==================================== -->
        <!-- ===================================================== -->

            <script src="public/scripts/numpleeUserRegisterScreen.js" defer></script>




    <!-- BRING IN FONTS FOR PAGE ================================= -->
    <!-- ========================================================= -->

        <!-- OUTFIT FONT ========================================= -->
        <!-- ===================================================== -->

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">



</head>


<body class="userRegisterBodyControl">

    <!-- MAIN CONTENT CONTAINER ================================== -->
    <!-- ========================================================= -->

        <div class="userRegisterMainContainerControl">


            

            <!-- INPUT FIELDS CONTAINER ================================== -->
            <!-- ========================================================= -->

                <div class="userRegisterSubmissionBoxContainer">

                    <div class="userRegisterSubmissionBoxContentResizer">

                        <!-- INTAKE FORM ================================= -->
                        <!-- ============================================= -->

                            <div class = "userRegisterSubmissionBoxContentFormContainer">

                                <!-- USER NAME INPUT FIELD CONTAINER ===== -->
                                <!-- ===================================== -->

                                    <div class="userRegisterUsernameInputFieldContainer">

                                        <div class="userRegisterUsernameInputFieldElement">

                                            <input
                                            
                                                name = "regUsername"
                                                type = "text"
                                                class = "inputScreenUsernameInputBoxActual"
                                                maxlength = "10"
                                                placeholder = "name eg: zane grayson"

                                            >

                                        </div>

                                    </div>

                                <!-- EMAIL INPUT FIELD CONTAINER ========= -->
                                <!-- ===================================== -->

                                    <div class="userRegisterEmailInputFieldContainer">

                                        <div class="userRegisterEmailInputFieldElement">

                                            <input
                                            
                                                name = "regEmail"
                                                type = "text"
                                                class = "inputScreenEmailInputBoxActual"
                                                maxlength = "30"
                                                placeholder = "email eg: zaneg@mail.com"

                                            >

                                        </div>

                                    </div>

                                <!-- SPECIAL CODE INPUT FIELD CONTAINER == -->
                                <!-- ===================================== -->

                                    <div class="userRegisterSpecCodeInputFieldContainer">

                                        <div class="userRegisterSpecCodeInputFieldElement">

                                            <input
                                            
                                                name = "regSpecCode"
                                                type = "text"
                                                class = "inputScreenSpecCodeInputBoxActual"
                                                readonly
                                                placeholder = "---"

                                            >

                                        </div>

                                    </div>

                                <!-- SPECIAL CODE COPY INSTRUCTIONS CONTAINER -->
                                <!-- ======================================== -->

                                    <div class="userRegisterSpecCodeCopyTextInstructionsContainer">

                                        <div class="userRegisterSpecCodeCopyTextInstructionsTextActual">

                                            <span style="margin:0px 0px 10px 0px;"><b>important</b></span>
                                            <br/>
                                            <br/>
                                            the code above is your login code, please copy and keep it safe. 
                                            Do not share this code with anyone.

                                        </div>

                                    </div>

                                <!-- FORM SUBMISSION BUTTON CONTAINER ==== -->
                                <!-- ===================================== -->

                                    <div class="userRegisterSubmissionButtonContainer">

                                        <div class="userRegisterSubmissionButtonActual">

                                            register user

                                        </div>

                                    </div>


                                </div>




                            


            

                        <!-- SUBZERO ================================================= -->
                        <!-- ========================================================= -->

                            <div class="subzeroControlContainer" style="display:none;">

                            </div>


                    </div>

                </div>




                            


            

            <!-- GHOSTS ============================================================== -->
            <!-- ===================================================================== -->

                <div class="ghostsControlConatiner">




                    <!-- SPAWNED GHOSTS CONTAINER ==================================== -->
                    <!-- ============================================================= -->

                        <div class="spawnedGhostsContainer">


                            <!-- HEADLINE AND DROP DOWN SECTION ====================== -->
                            <!-- ===================================================== -->
                            
                                <div class="spawnedGhostsHeadlineAndDropDownContainer">

                                    <!-- HEADLINE SIDE =============================== -->
                                    <!-- ============================================= -->

                                        <div class="spawnedGhostsHeadlineSideContainer">

                                            <div class="spawnedGhostsHeadlineTextActual">

                                                SPAWNED

                                            </div>
                                            
                                        </div>

                                    <!-- DROP DOWN BUTTON SIDE ======================= -->
                                    <!-- ============================================= -->

                                        <div class="spawnedGhostsDropDownSideContainer">

                                            <div class="spawnedGhostsDropDownButtonContainer">

                                                <div class="spawnedGhostsDropDownButtonElement">

                                                    <!-- DROP DOWN CLICKER CONTAINER = -->
                                                    <!-- ============================= -->

                                                        <div class="spawnedGhostsDropDownButtonClickerContainer">

                                                            <div class="spawnedGhostsDropDownButtonClickerOn">

                                                            </div>

                                                            <div class="spawnedGhostsDropDownButtonClickerOff">

                                                            </div>

                                                        </div>

                                                    <!-- DROP DOWN ICON CONTAINER ==== -->
                                                    <!-- ============================= -->

                                                        <div class="spawnedGhostsDropDownButtonIconMover">

                                                            <div class="spawnedGhostsDropDownButtonIconLineOne">

                                                            </div>

                                                            <div class="spawnedGhostsDropDownButtonIconLineTwo">

                                                            </div>

                                                        </div>

                                                </div>

                                            </div>
                                            
                                        </div>

                                </div>


                            <!-- SPAWNED GHOST CARDS SECTION ========================= -->
                            <!-- ===================================================== -->
                            
                                <div class="spawnedGhostContentCardsContainer">

                                    <!-- GHOST CONTENT CARD ONE CONTAINER ============ -->
                                    <!-- ============================================= -->

                                        <div class="spanwedGhostContentCardOneContainer">

                                            <div class="spanwedGhostContentCardOneContentResizer">

                                                <!-- PENDING INDICATOR CONTAINER ===== -->
                                                <!-- ================================= -->

                                                <!-- USER NAME CONTAINER ============= -->
                                                <!-- ================================= -->

                                                <!-- USER EMAIL CONTAINER ============ -->
                                                <!-- ================================= -->

                                                <!-- USER EMAIL CONTAINER ============ -->
                                                <!-- ================================= -->

                                            </div>

                                        </div>

                                </div>


                        </div>




                                <!-- GHOST SECTION DIVIDER =========================== -->
                                <!-- ================================================= -->

                                    <div class="ghostSectionDividerLineContainer">

                                        <div class="ghostSectionDividerLineActual">

                                        </div>

                                    </div>




                    <!-- ACTIVE GHOSTS CONTAINER ===================================== -->
                    <!-- ============================================================= -->

                        <div class="activeGhostsContainer">


                            <!-- HEADLINE AND DROP DOWN SECTION ====================== -->
                            <!-- ===================================================== -->
                            
                                <div class="activeGhostsHeadlineAndDropDownContainer">

                                    <!-- HEADLINE SIDE =============================== -->
                                    <!-- ============================================= -->

                                        <div class="activeGhostsHeadlineSideContainer">

                                            <div class="activeGhostsHeadlineTextActual">

                                                ACTIVE

                                            </div>
                                            
                                        </div>

                                    <!-- DROP DOWN BUTTON SIDE ======================= -->
                                    <!-- ============================================= -->

                                        <div class="activeGhostsDropDownSideContainer">

                                            <div class="activeGhostsDropDownButtonContainer">

                                                <div class="activeGhostsDropDownButtonElement">

                                                    <!-- DROP DOWN CLICKER CONTAINER = -->
                                                    <!-- ============================= -->

                                                        <div class="activeGhostsDropDownButtonClickerContainer">

                                                            <div class="activeGhostsDropDownButtonClickerOn">

                                                            </div>

                                                            <div class="activeGhostsDropDownButtonClickerOff">

                                                            </div>

                                                        </div>

                                                    <!-- DROP DOWN ICON CONTAINER ==== -->
                                                    <!-- ============================= -->

                                                        <div class="activeGhostsDropDownButtonIconMover">

                                                            <div class="activeGhostsDropDownButtonIconLineOne">

                                                            </div>

                                                            <div class="activeGhostsDropDownButtonIconLineTwo">

                                                            </div>

                                                        </div>

                                                </div>

                                            </div>
                                            
                                        </div>

                                </div>


                            <!-- ACTIVE GHOST CARDS SECTION ========================== -->
                            <!-- ===================================================== -->
                            
                                <div class="activeGhostContentCardsContainer">

                                    <!-- GHOST CONTENT CARD ONE CONTAINER ============ -->
                                    <!-- ============================================= -->

                                        <div class="activeGhostContentCardOneContainer">

                                            <div class="activeGhostContentCardOneContentResizer">

                                                <!-- PENDING INDICATOR CONTAINER ===== -->
                                                <!-- ================================= -->

                                                <!-- USER NAME CONTAINER ============= -->
                                                <!-- ================================= -->

                                                <!-- USER EMAIL CONTAINER ============ -->
                                                <!-- ================================= -->

                                                <!-- USER EMAIL CONTAINER ============ -->
                                                <!-- ================================= -->

                                            </div>

                                        </div>

                                </div>


                        </div>




                                <!-- GHOST SECTION DIVIDER =========================== -->
                                <!-- ================================================= -->

                                    <div class="ghostSectionDividerLineContainer">

                                        <div class="ghostSectionDividerLineActual">

                                        </div>

                                    </div>




                    <!-- RELEASED GHOSTS CONTAINER =================================== -->
                    <!-- ============================================================= -->

                        <div class="releasedGhostsContainer">


                            <!-- HEADLINE AND DROP DOWN SECTION ====================== -->
                            <!-- ===================================================== -->
                            
                                <div class="releasedGhostsHeadlineAndDropDownContainer">

                                    <!-- HEADLINE SIDE =============================== -->
                                    <!-- ============================================= -->

                                        <div class="releasedGhostsHeadlineSideContainer">

                                            <div class="releasedGhostsHeadlineTextActual">

                                                RELEASED

                                            </div>
                                            
                                        </div>

                                    <!-- DROP DOWN BUTTON SIDE ======================= -->
                                    <!-- ============================================= -->

                                        <div class="releasedGhostsDropDownSideContainer">

                                            <div class="releasedGhostsDropDownButtonContainer">

                                                <div class="releasedGhostsDropDownButtonElement">

                                                    <!-- DROP DOWN CLICKER CONTAINER = -->
                                                    <!-- ============================= -->

                                                        <div class="releasedGhostsDropDownButtonClickerContainer">

                                                            <div class="releasedGhostsDropDownButtonClickerOn">

                                                            </div>

                                                            <div class="releasedGhostsDropDownButtonClickerOff">

                                                            </div>

                                                        </div>

                                                    <!-- DROP DOWN ICON CONTAINER ==== -->
                                                    <!-- ============================= -->

                                                        <div class="releasedGhostsDropDownButtonIconMover">

                                                            <div class="releasedGhostsDropDownButtonIconLineOne">

                                                            </div>

                                                            <div class="releasedGhostsDropDownButtonIconLineTwo">

                                                            </div>

                                                        </div>

                                                </div>

                                            </div>
                                            
                                        </div>

                                </div>


                            <!-- RELEASED GHOST CARDS SECTION ======================== -->
                            <!-- ===================================================== -->
                            
                                <div class="releasedGhostContentCardsContainer">

                                    <!-- GHOST CONTENT CARD ONE CONTAINER ============ -->
                                    <!-- ============================================= -->

                                        <div class="releasedGhostContentCardOneContainer">

                                            <div class="releasedGhostContentCardOneContentResizer">

                                                <!-- PENDING INDICATOR CONTAINER ===== -->
                                                <!-- ================================= -->

                                                <!-- USER NAME CONTAINER ============= -->
                                                <!-- ================================= -->

                                                <!-- USER EMAIL CONTAINER ============ -->
                                                <!-- ================================= -->

                                                <!-- USER EMAIL CONTAINER ============ -->
                                                <!-- ================================= -->

                                            </div>

                                        </div>

                                </div>


                        </div>




                </div>

        </div>
    
</body>


</html>